#result_section {
    display: none;
}

.result_info {
    width: 100%;
    height: auto;
    margin:10px auto;
    font-size: 1.5em;
}

.result_img {
    width: 200px;
    height: auto;
    margin: 15px auto;
}

.result_img img {
    width: 100%;
}


.a {
    margin: 10px 10% 0 10%;
    box-sizing: border-box;
    margin-bottom: 40px;
    font-size: 20px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

.result_info {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.result_info h1 {
    color: aliceblue;
    text-align: center;
    line-height: 1.5;
    font-size: 0.7em;
}
.result_info h1{
    margin-bottom: 10px;
 
    font-size: 1.3em;
}
 .point{
    width: 100%;
    text-align: center;
    height: auto;
    margin:10px auto;
    color: aliceblue;
    font-size: 1.4em;
}
.sub_tit{
    text-align: center;
    width: 100%;
    height: auto;
    margin:10px auto;
    margin-top: 20px;
    color: aliceblue;
    font-size: 0.9em;
}
 .sub{
    width: 100%;
    height: auto;
    margin:10px auto;
    margin-top: 20px;
    color: aliceblue;
    font-size: 0.7em;
    text-align: center;
}

.share {
    width: 50%;
    margin: 0 auto;

}

.share_tit p {
    margin-top: 40px;
    font-size:20px;
    text-align: center;
    color: aliceblue;

}

.SNS_icons{
    width: 100%;
    text-align: center;

}
button{
    margin-top: 20px;
}
#facebook img, #twitter img, #kakao img{
width: 30px;
height: 30px;

}
#facebook{
    margin-left: 0;
}
#twitter,  #kakao{
    margin-left: 15px;
}

.url_share{
    width: 60%;
    margin:0 auto;
    text-align: center;
}

.url, .returns{
    width: 150px;
    height: 50px;
margin-top: 15px;
    background-color: aliceblue;
    border-radius: 5%;
}
.url p, .returns p{
    font-size: 20px;
}
.url:hover{
    background-color: antiquewhite;
}
button{
    background: none;
}
@media all and (min-width:768px) {
    .result_title {
        width: 90%;
    }  
    button{
        margin-top: 20px;
    }
    #facebook img, #twitter img, #kakao img{
    width: 50px;
    height: 50px;
    
    }
    #kakao{
         margin-top:10px;
    }
    #facebook{
        margin-left: 0;
    }
    #twitter,  #kakao{
        margin-left: 30px;
    }
}

@media all and (min-width:1024px) {
    .result_title {
        width: 90%;
        height: auto;
        margin:10px auto;
        font-size: 1.5em;
    
    }
    .result_img {
        width: 60%;
        height: auto;
      text-align: center;
    }
    
    .result_img img {
        width: 100%;
    
    }

  
}